md-card(md-whiteframe="5")
  md-card-title-media.panel-image(style="background-image: url({{recipe.image}})")
  md-card-title-text
    span.md-headline {{recipe.title}}
  md-card-content
    star-rating
    p {{recipe.description}}
