md-card(md-whiteframe="5")
  md-card-content
    md-input-container.md-icon-float.md-block.s24
      md-icon(md-font-icon="material-icons", style="font-size: 36px;") search 
      div(layout="row" layout-align="center center")
        input(type='text', placeholder='Search for a recipe...', ng-model='filterText')
