extends layout

block content
  div(ng-controller="weekViewController")
    div(layout="row" layout-xs="column")
      div(flex="50" layout="column")
        md-grid-list
        div(ng-repeat='recipe in weeklyRecipes')
          recipe-card
      refinements(flex="50")
