extends layout

block content
  div(ng-controller="contentController")
    div.md-padding(layout="row")
      div.recipeList(flex="70")
        search(flex="100")
        .recipe(ng-repeat='recipe in weeklyRecipes')
          recipe-card
      div(flex="30", layout-padding)
        refinements
        ingredients
