html
  head
    title #{title}
    block scripts
      script(src='/dist/vendor/js/vendor.js')
      link(rel='stylesheet', href='/dist/vendor/css/style.css')
      link(rel='stylesheet', href='/dist/css/app.css')
      link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
      script(src='dist/js/main.js')

  body(ng-app="souschef")
    block navbar
      span(ng-controller="navbarController")
        md-toolbar(md-whiteframe="2")
          div.md-toolbar-tools
            h1 Sous-Chef
          
    block content
    block footer
