html
  head
    title #{title}
    block scripts
      script(src='/dist/vendor/js/vendor.js')
      link(rel='stylesheet', href='/dist/vendor/css/style.css')
      link(rel='stylesheet', href='/dist/css/app.css')
      link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
      script(src='/dist/js/main.js')

  body(ng-app="souschef")
    block navbar
      .navbar.navbar-danger(ng-controller="navbarController")
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              span
                img(style='max-width:30px', src='images/hat3.png')
                |   Sous-Chef
          .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
      block content
      block controls
      block footer
