.panel-image {
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 200px;
}
.btn.btn-fab.btn-card {
  margin-top: -100px;
}
html, body {
  background-color: #eeeeee !important;
}

* {
  font-family: 'Roboto';
  font-weight: 300 !important;
}
.s24 {
  font-size:24px;
}
.s48 {
  font-size:48px;
}
.danger {
  color: #F44336
}
.warn {
  color: #FF8F00;
}
.bland {
  color: gray;
}
.recipeList {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}
.recipe {
  flex: 1 0 600px;
  box-sizing: border-box;
	margin-left: 10px;
	margin-top: 10px;
}
.day-box {
  border-style: dashed;
  border-width: medium;
  border-color: #D3D3D3;
  color: gray;
  text-align: center;
  margin: 4px;
  border-radius: 5px;
}
