.panel-image {
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 200px;
}
.btn.btn-fab.btn-card {
  margin-top: -100px;
}
